<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Management - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
    <header class="well">
        <h1>Employee Management</h1>
    </header>
    <section>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/Home/Index">Ana Sayfa</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Department/Index">Departmanlar</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Employee">Çalışanlar</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                @RenderBody()
            </div>
        </div>
    </section>

</body>
</html>
