
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Ana Sayfa
</h2>
<p>
    Yönetmek istediğiniz kayıtlar için sol taraftaki menüden seçim yapabilirsiniz.
</p>
<h3>
    Departmanlar
</h3>
<p>
    Şirket bünyesinde yer alan departmanların listelendiği , yeni departman kaydedildiği, güncellendiği ve silinebildiği yönetim panelidir.
</p>